<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.joemccann.tc-downloader</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/joemccann/.nvm/versions/node/v22.12.0/bin/node</string>
        <string>/Users/joemccann/dev/apps/home/transparent-classroom-image-downloader/dist/index.js</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>8</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/joemccann/dev/apps/home/transparent-classroom-image-downloader/logs/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/joemccann/dev/apps/home/transparent-classroom-image-downloader/logs/stderr.log</string>
    <key>RunAtLoad</key>
    <false/>
    <key>WorkingDirectory</key>
    <string>/Users/joemccann/dev/apps/home/transparent-classroom-image-downloader</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/Users/joemccann/.nvm/versions/node/v22.12.0/bin</string>
    </dict>
</dict>
</plist>
